<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <p class="lead text-muted marginBottom">Please sign in</p>
    <br />
    <p>
      <button mat-stroked-button (click)="signIn()">
        <mat-icon style="width: 30px; height: 30px" svgIcon="logo"></mat-icon>
        Sign in with Google
      </button>
    </p>
  </mat-card-content>
</mat-card>

<!-- <section class="jumbotron text-center">
  <div class="container">
    <div *ngIf="loggedIn; then proData; else login"></div>
    <ng-template #login>
      <h2 class="jumbotron-heading marginBottom">Google login</h2>
      <br />
      <p class="lead text-muted marginBottom">Please sign in</p>
      <p>
        <button mat-stroked-button (click)="signInWithGoogle()">
          <mat-icon style="width: 50px; height: 30px" svgIcon="logo"></mat-icon>
          Sign in with Google
        </button>
      </p>
    </ng-template>

    <ng-template #proData>

    </ng-template>
  </div>
</section> -->
