<div
  *ngIf="this.course"
  fxLayout.xs="column"
  fxLayout="row wrap"
  fxLayoutGap="10px"
  ngClass.gt-xs="ml-10"
>
  <table>
    <tr>
      <td>
        <mat-card-header>
          <mat-card-title
            ><h1>{{ this.course.courseName }}</h1></mat-card-title
          >
          <mat-card-subtitle
            ><mat-icon>date_range</mat-icon
            >{{ this.course.createdOn }}</mat-card-subtitle
          >
        </mat-card-header>
        <img mat-card-image id="img1" src="{{ this.course.imageUrl }}" />
        <mat-card-content>
          <h1><mat-icon>description</mat-icon>Course Description</h1>
          <p>
            <b> {{ this.course.courseDescription }}</b>
          </p>
        </mat-card-content>

        <h1><mat-icon>analytics</mat-icon>Skills</h1>
        <mat-list-item *ngFor="let item of skills">
          <div mat-line>{{ item }}</div>
        </mat-list-item>
      </td>
      <td>
        <table id="buttontable">
          <tr>
            <button
              mat-raised-button
              (click)="edit(this.course)"
              class="my-class"
            >
              <mat-icon>mode</mat-icon>
              Edit Course
            </button>
            <!-- </tr>
          <tr> -->
            <!-- <button
              mat-raised-button
              (click)="formbool = true; disable()"
              class="my-class"
              id="shift"
            >
              <mat-icon>mode</mat-icon>
              Edit Material
            </button> -->
          </tr>
          <tr>
            <button mat-raised-button (click)="getlatest()" class="my-class">
              <mat-icon>new_releases</mat-icon>
              New Material
            </button>
            <!-- </tr>
          <tr> -->
            <!-- <button
              mat-raised-button
              (click)="getAll()"
              class="my-class"
              id="shift"
            >
              <mat-icon>settings_backup_restore</mat-icon>
              All Material
            </button> -->
          </tr>
        </table>
      </td>
      <td id="pos"></td>
    </tr>
  </table>

  <div
    *ngIf="openlatest && materials != null"
    style="
      margin: 10px 10px;
      padding: 10px 10px;
      margin: 10px;
      border: 2px solid black;
      border-radius: 10px;
    "
  >
    <h1>Materials</h1>
    <hr />
    <table>
      <tr>
        <th>Material Description</th>
        <th>File Type</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let i of materials; index as ind">
        <td>
          {{ i.materialDescription }}
        </td>
        <td>
          {{ i.fileType }}
        </td>

        <td>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div style="margin: 0px 5px">
              <mat-slide-toggle
                color="primary"
                (change)="
                  show[ind]
                    ? hidePrevious(ind)
                    : showPrevious(i.materialId, ind)
                "
                >Show previous</mat-slide-toggle
              >
              <div *ngIf="show[ind]">
                <table>
                  <tr *ngFor="let current of i.previousMaterial">
                    <td>
                      {{ current.materialDescription }}
                    </td>
                    <td>
                      {{ current.fileType }}
                    </td>
                    <!-- <td>
                  <mat-card-actions>
                    <button
                      mat-raised-button
                      (click)="updatematerial(i.materialId, ind)"
                    >
                      Update
                    </button>
                  </mat-card-actions>
                </td> -->
                  </tr>
                </table>
              </div>
            </div>

            <div style="margin: 0px 5px">
              <button
                mat-raised-button
                (click)="formbool[ind] = true"
                *ngIf="!formbool[ind]"
              >
                Update
              </button>
            </div>
          </div>
        </td>
        <div
          style="
            border: 2px solid black;
            padding: 10px;
            border-radius: 20px;
            width: fit-content;
          "
          *ngIf="formbool[ind]"
          class="mform"
        >
          <form [formGroup]="formgroup" style="padding: 10px">
            <div>
              <mat-form-field>
                <label>Material Description</label>
                <input matInput formControlName="materialDescription" />
              </mat-form-field>
              <br />
              <mat-form-field>
                <label>File</label>
                <mat-icon matSuffix>folder</mat-icon>
                <ngx-mat-file-input
                  type="file"
                  formControlName="file"
                ></ngx-mat-file-input>
              </mat-form-field>
              <br />
              <mat-card-actions>
                <button
                  mat-raised-button
                  (click)="updatematerial(i.materialId, ind)"
                >
                  OK
                </button>
              </mat-card-actions>
            </div>
          </form>
        </div>
      </tr>
    </table>
  </div>
  <div *ngIf="openAll">
    <table>
      <tr>
        <th>Material Description</th>
        <th>File Type</th>
      </tr>
      <ng-container *ngFor="let group of allmaterials">
        <tr>
          <td>{{ group.materialDescription }}</td>
          <td>{{ group.fileType }}</td>
        </tr>
      </ng-container>
    </table>
  </div>

  <mat-toolbar color="primary"
    ><mat-icon>feedback</mat-icon>
    <h1>Feedbacks</h1></mat-toolbar
  >
  <mat-card
    fxFlex.sm="0 1 calc(50%-10px)"
    fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)"
  >
    <mat-card-content
      ><mat-list>
        <mat-list-item *ngFor="let item of feedbacks">
          <div mat-line>
            <mat-icon>account_circle</mat-icon>
            <b>{{ item.participantName }}</b>
          </div>
          <div mat-line>
            <i>{{ item.feedbackText }}</i>
          </div>

          <div mat-line><mat-icon>star</mat-icon> {{ item.rating }}</div>
        </mat-list-item>
      </mat-list></mat-card-content
    >
  </mat-card>
</div>
